{
  "address": "{{ validator_address }}",
  "pub_key": {
    "type": "tendermint/PubKeyEd25519",
    "value": "{{ validator_pub_key }}"
  },
  "priv_key": {
    "type": "tendermint/PrivKeyEd25519",
    "value": "{{ validator_key }}"
  }
}